<template>
  <div class="login-page-container">
    <div class="login-logo-box">
      <img :src="logo" alt="">
    </div>
    <div class="login-page-header">
      <h1 class="page-header">Offer Configurator CPQ</h1>
    </div>
    <div class="login-box">
      <div class="login-box-inner">
        <h5>Welcome back! Please login to your account.</h5>
        <form class="franke-form" @submit.prevent="submitLogin">
          <div class="form-group">
            <input type="text" v-model="email" class="form-control" placeholder="Email" @blur="$v.email.$touch()">
                            <div v-if="$v.email.$error" >
                                <p v-if="!$v.email.required" class="err">Email is required</p>
                                <p v-if="!$v.email.email" class="err">Invalid email address</p>
                            </div>
          </div>
          <div class="form-group">
            <input type="password" v-model="password" class="form-control" placeholder="Password" @blur="$v.password.$touch()">
                            <div v-if="$v.password.$error" >
                                <p v-if="!$v.password.required" class="err">Password is required</p>
                            </div>
          </div>
          <div style="text-align:center" v-if="!auth.loading">
                <label class="err" v-for="item of auth.errors.errors" :key="item.id">{{item[0]}}</label>
          </div>
          <div class="auth-action-link">
            <div class="keep-signed-in">
              <label>
                <input type="checkbox" value="1">
                <span>Keep me signed in</span>
              </label>
            </div>
            <div class="forgot-pass-link">
              <a href="">Forgot Password?</a>
            </div>
          </div>
          <div class="form-submit">
              <button type="submit" class="primary-btn red-btn">
                Login <img v-if="auth.loading" :src="loader" alt="loading..." width="30" style="margin-bottom:-8px;">
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import router from '@/router';
  import logo from "@/img/franke-logo.png";
  import loader from "@/img/filter-loader.gif";
  import { required,email } from 'vuelidate/lib/validators';
  import { mapState } from 'vuex';
  export default {
    mounted(){
       if(this.auth.isAuthenticated)
       this.$store.dispatch('configuration/fetchData');
          router.push('/configurations');
    },
    data(){
      return {
        logo: logo,
        email: '',
        password: '',
        loader: loader,
        loading: false,
        authMessage: {
          show: false,
          status: 'error',
          message: 'success'
        }
      }
    },
    validations: { 
                email: {required,email},
                password: {required}
                
    },
    props: {
      source: String,
    },
    computed: {
        ...mapState(['auth'])
        },
    methods: {
      submitLogin(){
        this.$v.$touch()
        if (!this.$v.$invalid) {
            this.loading = true;
            var credential = {
              email: this.email,
              password: this.password,
              device_name: "123456788"
            }
            this.$store.dispatch('auth/login', credential);
        }
      }
    }

  }
</script>
<style>
  .login-page-container {
    max-width: 640px;
    margin: 0 auto;
    padding: 120px 20px 0 20px;
  }
  .login-logo-box {
    max-width: 140px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .login-page-header {
    text-align: center;
    padding-bottom: 55px;
  }
  .page-header {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    font-weight: 400;
  }
  .login-box {
    max-width: 595px;
    margin: 0 auto;
    background-color: #202020;
    background: linear-gradient(to bottom right, #202020, #363636);
    -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  }
  .login-box-inner{
    max-width: 365px;
    margin: 0 auto;
    padding: 77px 0;
  }
  .login-box h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 32px;
  }
  .login-box .franke-form .form-control{
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    margin-bottom: 16px;
    border-radius: unset;
  }
  .auth-action-link {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 25px;
  }
  .keep-signed-in label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
  }
  .keep-signed-in input {
    display: none;
  }
  .keep-signed-in label span {
    font-size: 12px;
    color: #fff;
  }
  .keep-signed-in label span:before {
    content: '';
    border: 1px solid #dedede;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 6px;
  }
  .keep-signed-in label input:checked + span:after {
    content: "\f00c";
    font-family: FontAwesome;
    color: #fff;
    font-size: 8px;
    position: absolute;
    top: 9px;
    left: 3px;
  }
  .forgot-pass-link a {
    color: #FFFFFF;
    font-size: 12px;
  }
  .login-box .form-submit button {
    width: 100%;
    border-radius: unset;
    height: 48px;
    line-height: 48px;
  }
  .err {
    font-size:12px;
    color:red;
    margin-bottom: 10px;
    margin-top:-10px;
  }
</style>