<template>
  <div>
    <v-app class="dashboard-wrapper" id="sandbox">
    <v-card
      class="mx-auto overflow-hidden"
    >
      <v-app-bar
        light
        prominent
        class="dashboard-header"
        height="64"
      >
        <div class="header-inner">
          
          <ul class="language-list">
            <li class="current-language">EN</li>
            <li><a href="#">DE</a></li>
            <li><a href="#">FR</a></li>
          </ul>

          <div class="header-logo"><img :src="logo" alt=""></div>
          <div class="header-right">
            <div class="profile-action header-right-item">
              <v-menu
                bottom
                :offset-x="profileDropdown.offsetX"
              >
                <template v-slot:activator="{ on, attrs }">
                  <div
                    class="profile-action-toggle"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <img class="profile-image" :src="profileAvatar" alt="" width="40">
                  </div>
                </template>
                <v-list>
                  <v-list-item
                  >
                    <v-list-item-title @click="logout()">Logout</v-list-item-title>
                  </v-list-item>
                  <v-list-item
                  >
                    <v-list-item-title>Profile</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
            <div class="header-right-item bell-icon">
              <span class="bell-icon-box">
                <i class="fa fa-bell-o"></i>
                <span class="notific-count">0</span>
              </span>
              <!-- <img :src="bell" alt=""> -->
            </div>
          </div>
        </div>
      </v-app-bar>

      
    </v-card>
    <div class="page-content">
      <slot name="config-header-bottom"></slot>
      <div class="page-content-inner">
        <slot></slot>
      </div>
      <slot name="config-footer"></slot>
    </div>
    </v-app>
  </div>
</template>

<script>
  import logo from "@/img/franke-logo.png";
  import bell from "@/img/bell-icon.png";
  import profileImage from "@/img/profile-image.jpg";
  import profileAvatar from "@/img/profile-avatar.png";
  export default {
    data: () => ({
      drawer: false,
      group: null,
      logo: logo,
      bell: bell,
      profileImage: profileImage,
      profileAvatar: profileAvatar,
      profileName: localStorage.getItem('userName'),
      profileDropdown: {
        value: false,
        absolute: true,
        offsetX: true,
        offsetY: false,
      }
    }),
    watch: {
      group () {
        this.drawer = false
      },
    },
    methods: {
      logout() {
          //console.log(this.$router);
          this.$store.dispatch('auth/logout');
      }
    }
  }
</script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
  body {
    font-family: 'Open Sans', sans-serif;
  }
  button:focus {
    outline: none;
  }
  .v-application {
    font-family: 'Open Sans', sans-serif !important;
  }
  .v-navigation-drawer {
    height: 100% !important;
  }
  .dashboard-header {
    background-color: #fff !important;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) !important;
    box-shadow: unset !important;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0;
  }
  .dashboard-header .v-toolbar__content {
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important;
  }
  .dashboard-header .v-app-bar__nav-icon {
    color: #000 !important;
  }
  .header-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between ;
    justify-content: space-between;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
  }
  .page-content-inner {
    max-width: 1350px;
    margin: 0 auto;
    padding: 24px 15px 20px 15px;
    min-height: calc(100vh - 100px);
  }
  .language-list {
    padding: 0;
    padding-top: 10px;
  }
  .language-list li {
    display: inline-block;
    padding-right: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: #585858;
  }
  .language-list li a {
    color: #585858;
  }
  .language-list li.current-language {
    color: #DC281E;
  }
  .header-logo {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .header-right {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .header-right-item {
    padding: 9px 15px;
  }
  .bell-icon .bell-icon-box {
    display: inline-block;
    padding: 4px 5px 7px 5px;
    border: 1px solid #B6B7B7;
    line-height: 16px;
    position: relative;
  }
  .bell-icon .fa {
    font-size: 16px;
    color: #585858;
  }
  .bell-icon {
    
  }
  .bell-icon .notific-count {
    position: absolute;
    top: -5px;
    right: -5px;
    display: inline-block;
    padding: 2px 3px;
    background: #DC281E;
    color: #fff;
    font-size: 12px;
    line-height: 1;
  }
  .profile-action-toggle {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .profile-image {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
  }
  .dashboard-wrapper .v-card {
    width: 100%;
  }
  .page-content {
    background: #fff;
  }

  .module-add-container {
      text-align: center;
  }
  .module-add-heading h1 {
    text-transform: capitalize;
    font-weight: 400;
  }
  .module-add-form {
    background: #fff;
    width: 515px;
    margin: 0 auto;
    text-align: left;
    padding: 24px 24px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  .franke-form .form-froup {
    margin-bottom: 24px;
  }
  .franke-form .form-control {
    width: 100%;
    height: 48px;
    line-height: 48px;
    border: 1px solid #DEDEDE;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #858585;
    padding: 0 15px;
  }
  .franke-form .form-control:focus {
    outline: none;
  }
  .franke-form .module-btn-list {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
  }
  .franke-form .module-btn-list .btn-item {
    margin-left: 24px;
  }
  .primary-btn {
    padding: 0 40px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }
  .red-btn {
    color: #fff !important;
    background: #DC281E;
  }
  .module-btn-list .back-btn a {
    display: inline-block;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: #DC281E;
    text-decoration: none;
  }
  .module-btn-list .back-btn a .fa {
    color: #DC281E;
    font-size: 22px;
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -3px;
  }
</style>