<template>
    <Layout>
        <div class="module-add-container">
            <div class="module-add-heading">
                <h1>Welcome to product moduler</h1>
                <p>Please enter general details to proceed further</p>
            </div>
            <div class="module-add-form">
                <form class="franke-form" @submit.prevent="submit">
                    <div class="form-froup">
                        <input class="form-control" v-model="company_name" type="text" placeholder="Company Name" @blur="$v.company_name.$touch()">
                            <div v-if="$v.company_name.$error">
                                <p v-if="!$v.company_name.required" >Company Name is required</p>
                            </div>
                    </div>
                    <div class="form-froup">
                        <select class="form-control" v-model="industry" aria-placeholder="Industry" @blur="$v.industry.$touch()">
                            <option value="" disabled hidden>Industry</option>
                            <option>Industry 1</option>
                            <option>Industry 2</option>
                            <option>Industry 3</option>
                        </select>
                            <div v-if="$v.industry.$error">
                                <p v-if="!$v.industry.required" >Industry is required</p>
                            </div>
                    </div>
                    <div class="form-froup">
                        <input class="form-control" v-model="contact_person" type="text" placeholder="Contact Person" @blur="$v.contact_person.$touch()">
                            <div v-if="$v.contact_person.$error">
                                    <p v-if="!$v.contact_person.required" >Contact Person is required</p>
                            </div>
                    </div>
                    <div class="form-froup">
                        <input class="form-control" v-model="business_model" type="text" placeholder="Business Model" @blur="$v.business_model.$touch()">
                            <div v-if="$v.business_model.$error">
                                    <p v-if="!$v.business_model.required" >Business Model is required</p>
                            </div>
                    </div>
                    <div class="module-btn-list">
                        <div class="back-btn btn-item"><router-link to="login"><i class="fa fa-long-arrow-left"></i>BACK</router-link></div>
                        <div class="btn-item">
                            <button type="submit" class="primary-btn red-btn">Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </Layout>
</template>
<script>
import Layout from "@/shared/Layout";
import { required } from 'vuelidate/lib/validators'
import router from '@/router';
export default {
   components: {
        Layout
    }, 
    data(){
        return {
                company_name:'',
                industry:'',
                contact_person:'',
                business_model:''
         }
    },

    validations: { 
                company_name: {required},
                industry: {required},
                contact_person: {required},
                business_model: {required}
                
    },

    computed: {

    },

    methods:{

        submit(){
            this.$v.$touch()
            if (!this.$v.$invalid) {
                var body={
                        'company_name': this.company_name,
                        'industry': this.industry,
                        'contact_person': this.contact_person,
                        'business_model': this.business_model
                };
                console.log(body)
            this.$store.dispatch('configuration/addItem', body);
            this.reset();
            router.push('/dashboard');
            }
            
            
        },
        reset(){
            this.company_name=this.industry=this.contact_person=this.business_model='';
        }

    }
}
</script>