<template>
    <Layout>
        <template v-slot:config-header-bottom>
            <div class="config-machines-breadcrumb header-breadcrumb">
                <div class="header-breadcrumb-inner">
                    <ul>
                        <li><a>Coffee Systems</a></li>
                        <li>{{COFFEE_MC_Name}}</li>
                    </ul>
                </div>
            </div>
        </template>
        <div class="configurations-page-container">
            <div class="configuration-list-container">
                <h3 class="section-heading">{{COFFEE_MC_Name}}</h3>
                <ul class="configuration-tab-list">
                    <li class="active">Featured</li>
                    <li>All</li>
                </ul>
                <div class="configuration-list" >
                    <div class="configuration-item" v-for="item in COFFEE_MC01_Filtered" :key="item.id">
                        <div class="configuration-item-inner">
                            <div class="configuration-item-normal">
                                <div class="configuration-image">
                                    <img :src="item.PIM.ProductImage" alt="">
                                </div>
                                <h4 class="config-name" v-html="item.PIM.ProductName"></h4>
                                <span class="view-details-toggle" @click="go_to_configure_new(item.ATWRT,item.PIM.ProductName,item.PIM)">configure</span>
                            </div>
                        </div>
                        <span class="compare-icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66667 2.00001H3.33333C2.6 2.00001 2 2.6 2 3.33334V12.6667C2 13.4 2.6 14 3.33333 14H6.66667V15.3333H8V0.666672H6.66667V2.00001ZM6.66667 12H3.33333L6.66667 8.00001V12ZM9.33333 2.00001H12.6667C13.4 2.00001 14 2.60001 14 3.33334V12.6667C14 13.4 13.4 14 12.6667 14H9.33333V8.00001L12.6667 12V3.33334H9.33333V2.00001Z" fill="black" fill-opacity="0.54"/>
                            </svg>
                        </span>
                    </div>

                </div>
            </div>
            <div class="configuration-filter-container">
                <div class="configuration-filter-inner">
                    <h3 class="section-heading">Filter</h3>
                    <ul class="config-filter-list">
                        <li>
                            <span class="filter-type-label" @click="toggleContent($event, 1)">Type</span>
                            <transition name="slide-up">
                            <div class="checkbox-group">
                                <div class="checkbox-item"  >
                                    <label>
                                        <input type="checkbox" @click="setType($event,1)">
                                        <span>Type 1</span>
                                    </label>
                                </div>
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox" @click="setType($event,2)">
                                        <span>Type 2</span>
                                    </label>
                                </div>
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox" @click="setType($event,3)">
                                        <span>Type 3</span>
                                    </label>
                                </div>
                            </div>
                            </transition>
                        </li>
                        <li>
                            <span class="filter-type-label" @click="toggleContent($event, 1)">Capacity</span>
                            <div class="checkbox-group">
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox" @click="setCapacity($event,1,20)">
                                        <span>1-20 Cups</span>
                                    </label>
                                </div>
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox" @click="setCapacity($event,20,50)">
                                        <span>20-50 Cups</span>
                                    </label>
                                </div>
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox" @click="setCapacity($event,50,100)">
                                        <span>50-100 Cups</span>
                                    </label>
                                </div>
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox" @click="setCapacity($event,100,200)">
                                        <span>100-200 Cups</span>
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </Layout>
</template>
<script>
import router from '@/router';
import Configthumb from "@/img/A800.png";
import ConfigHover from "@/img/config-hover.png";
import CompareIcon from "@/img/compare-icon.png";
import Layout from "@/shared/Layout";
import { mapState } from 'vuex';
export default {
   components: {
        Layout
    }, 
    data(){
        return {
            configthumb: Configthumb,
            compareicon: CompareIcon,
            confighover: ConfigHover,
            selectedType: [],
            selectedCapacity: []
            // showHover: false,
            // typeFilter: false,
            // capacityFilter: false
         }
    },
    validations: { 
                
    },
    computed: {
        ...mapState(['configuration']),

        COFFEE_MC_Name:function (){
            return this.configuration.PROD_SYS_Filtered;
        },

        COFFEE_MC01_Filtered : function (){
            
                let abc =this.configuration.COFFEE_MC01_Filtered.map(m=> { return {ATWTB:m.E1CAWTM.ATWTB,ATWRT:m.ATWRT}});
            
                 let COFFEE_MC01_Filtered = [];

                for (let item of abc) {
                    COFFEE_MC01_Filtered.push(this.configuration.PIM.filter((a)=>
                    a.ProductName==item.ATWTB).map(m=> { return {PIM:m,ATWRT:item.ATWRT}})[0]);
                }
                console.log('COFFEE_MC01_Filtered',COFFEE_MC01_Filtered);

                // let def =this.configuration.PIM.filter(m=>m.E1CAWTM.ATWTB)
                console.log('Razu PIM',abc)
            return COFFEE_MC01_Filtered;
        },


        configuration_list : function (){
            if (this.selectedType.length === 0 && this.selectedCapacity.length === 0) 
            {
                console.log(this.configuration.configuration_list)
                return this.configuration.configuration_list; 
            } 
            else 
            {
                if (this.selectedCapacity.length==1) 
                {
                      return this.configuration.configuration_list.filter((a)=>this.selectedType.includes(a.type) ||(a.capacity>=this.selectedCapacity[0].min && a.capacity<=this.selectedCapacity[0].max))
                }
                if (this.selectedCapacity.length==2) 
                {
                      return this.configuration.configuration_list.filter((a)=>this.selectedType.includes(a.type) ||(a.capacity>=this.selectedCapacity[0].min && a.capacity<=this.selectedCapacity[0].max) ||(a.capacity>=this.selectedCapacity[1].min && a.capacity<=this.selectedCapacity[1].max))
                }
                if (this.selectedCapacity.length==3) 
                {
                      return this.configuration.configuration_list.filter((a)=>this.selectedType.includes(a.type) ||(a.capacity>=this.selectedCapacity[0].min && a.capacity<=this.selectedCapacity[0].max) ||(a.capacity>=this.selectedCapacity[1].min && a.capacity<=this.selectedCapacity[1].max) ||(a.capacity>=this.selectedCapacity[2].min && a.capacity<=this.selectedCapacity[2].max))
                }
                if (this.selectedCapacity.length==4) 
                {
                      return this.configuration.configuration_list.filter((a)=>this.selectedType.includes(a.type) ||(a.capacity>=this.selectedCapacity[0].min && a.capacity<=this.selectedCapacity[0].max) ||(a.capacity>=this.selectedCapacity[1].min && a.capacity<=this.selectedCapacity[1].max) ||(a.capacity>=this.selectedCapacity[2].min && a.capacity<=this.selectedCapacity[2].max)||(a.capacity>=this.selectedCapacity[3].min && a.capacity<=this.selectedCapacity[3].max))
                }
                 return this.configuration.configuration_list.filter((a)=>this.selectedType.includes(a.type)) 
            }
        }
    },
    
    methods:{
        toggleContent(events, depth){
            events.path[depth].classList.toggle('active');
            //console.log(events);
        },
        
        setType($event,type){
            if ($event.target.checked==true) {
                this.selectedType.push(type)
            } else {
                var index = this.selectedType.indexOf(type)
                this.selectedType.splice(index,1); 
            }
        },
        setCapacity($event,min,max){
            if ($event.target.checked==true) {
            this.selectedCapacity.push({min:min,max:max});
            }
            else {
                var index = this.selectedCapacity.findIndex(x=>x.min==min)
                this.selectedCapacity.splice(index,1); 
            }
            console.log(this.selectedCapacity)
        },
        go_to_configure_new(ATWRT,ATWTB_LONG,PIM){
            console.log('ATWTB_LONG',ATWTB_LONG)
            console.log('ATWTB_LONG',PIM)
            this.$store.dispatch('configuration/COOLINGUNIT_Filtered_ID_Add', ATWRT);
            this.$store.dispatch('configuration/COFFEE_MC_Filtered_ID_Add', ATWTB_LONG);
            this.$store.dispatch('configuration/PIM_Filtered_Add', PIM);
            router.push('/configure-new');
        },
    }
}
</script>
<style>
    .header-breadcrumb{
        border-bottom: 1px solid #D9D9D9;
        padding: 7px 0;
    }
    .header-breadcrumb .header-breadcrumb-inner {
        max-width: 1350px;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }
    .header-breadcrumb ul {
        padding-left: 0!important;
    }
    .header-breadcrumb ul li {
        list-style-type: none;
        display: inline-block;
        font-weight: 400;
        font-size: 12px;
        color: #8C8C8C;
        padding: 0 19px 0 10px;
        position: relative;
    }
    .header-breadcrumb ul li:after {
        content: "\f105";
        font-family: FontAwesome;
        font-weight: 700;
        color: #8C8C8C;
        font-size: 18px;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 1;
    }
    .header-breadcrumb ul li:first-child {
        padding-left: 0;
    }
    .header-breadcrumb ul li:last-child {
        opacity: 0.5;
    }
    .header-breadcrumb ul li:last-child:after {
        content: '';
    }
    .header-breadcrumb ul li a {
        color: #8C8C8C;
        font-weight: 700;
    }
</style>