<template>
    <Layout>
        
        <div class="configurations-page-container">
            <div class="configuration-list-container">
                <h3 class="section-heading">Select a configuration</h3>
                <ul class="configuration-tab-list">
                    <li class="active">Featured</li>
                    <li>All</li>
                </ul>
                <div v-if="configuration.loading">
                     <img  :src="loader" alt="loading..." width="300" style="margin-bottom:-8px;"> 
                </div>
                <div class="configuration-list"  v-else>
                    <div class="configuration-item" v-for="item in configuration_list" :key="item.id">
                        <div class="configuration-item-inner">
                            <div class="configuration-item-normal">
                                <div class="configuration-image">
                                    <img :src="'./assets/img/' + item.E1CAWTM.ATWTB + '.jpg'" alt="">
                                </div>
                                <h4 class="config-name" v-html="item.E1CAWTM.ATWTB"></h4>
                                <p class="config-short-info" v-html="item.config_info"></p>
                                <span class="view-details-toggle" @click="go_to_configure_new(item.ATWRT,item.E1CAWTM.ATWTB)">view details</span>
                            </div>
                            <transition name="fade">
                                <div class="configuration-item-hover">
                                    <div class="config-hover-top">
                                        <div class="config-hover-image"><img :src="confighover" alt=""></div>
                                        <div class="config-hover-top-right">
                                            <h4 class="config-name" v-html="item.config_name"></h4>
                                            <p class="hover-short-info" v-html="item.config_hover_info"></p>
                                        </div>
                                    </div>
                                    <div class="config-hover-details">
                                        <ul v-for="details in item.config_details" :key="details">
                                            <li v-html="details"></li>
                                        </ul>
                                    </div>
                                    <div class="config-hover-actions">
                                        <button class="show-less"  @click="toggleContent($event, 4)">Show less</button>
                                        <button class="red-btn" @click="go_to_configure_new(item.ATWRT,item.E1CAWTM.ATWTB)">Configure</button>
                                    </div>
                                </div>
                            </transition>
                        </div>
                        <span class="compare-icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66667 2.00001H3.33333C2.6 2.00001 2 2.6 2 3.33334V12.6667C2 13.4 2.6 14 3.33333 14H6.66667V15.3333H8V0.666672H6.66667V2.00001ZM6.66667 12H3.33333L6.66667 8.00001V12ZM9.33333 2.00001H12.6667C13.4 2.00001 14 2.60001 14 3.33334V12.6667C14 13.4 13.4 14 12.6667 14H9.33333V8.00001L12.6667 12V3.33334H9.33333V2.00001Z" fill="black" fill-opacity="0.54"/>
                            </svg>
                        </span>
                    </div>

                </div>
            </div>
             <div class="configuration-filter-container">
                <div class="configuration-filter-inner">
                    <h3 class="section-heading">Filter</h3>
                    <ul class="config-filter-list">
                        <li>
                            <span class="filter-type-label" @click="toggleContent($event, 1)">Type</span>
                            <transition name="slide-up">
                            <div class="checkbox-group">
                                <div class="checkbox-item"  >
                                    <label>
                                        <input type="checkbox" >
                                        <span>Type 1</span>
                                    </label>
                                </div>
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox" >
                                        <span>Type 2</span>
                                    </label>
                                </div>
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox" >
                                        <span>Type 3</span>
                                    </label>
                                </div>
                            </div>
                            </transition>
                        </li>
                        <li>
                            <span class="filter-type-label" @click="toggleContent($event, 1)">Capacity</span>
                            <div class="checkbox-group">
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox" >
                                        <span>1-20 Cups</span>
                                    </label>
                                </div>
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox">
                                        <span>20-50 Cups</span>
                                    </label>
                                </div>
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox" >
                                        <span>50-100 Cups</span>
                                    </label>
                                </div>
                                <div class="checkbox-item" >
                                    <label>
                                        <input type="checkbox">
                                        <span>100-200 Cups</span>
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </Layout>
</template>
<script>
import router from '@/router';
//import imagePath from "@/img/";
import Configthumb from "@/img/A800.png";
import ConfigHover from "@/img/config-hover.png";
import CompareIcon from "@/img/compare-icon.png";
  import loader from "@/img/loading.gif";
import Layout from "@/shared/Layout";
import { mapState } from 'vuex';
export default {
   components: {
        Layout
    }, 
    data(){
        return {
            configthumb: Configthumb,
            compareicon: CompareIcon,
            confighover: ConfigHover,
            // selectedType: [],
            // selectedCapacity: [],
            loader: loader,
            // showHover: false,
            // typeFilter: false,
            // capacityFilter: false
         }
    },
    validations: { 
                
    },
    computed: {
        ...mapState(['configuration']),

       
         configuration_list : function (){
            if (this.configuration.loading==false) 
            {
                // console.log(this.configuration.configuration_list)
                return this.configuration.PROD_SYS.CHRMAS01.IDOC.E1CABNM.E1CAWNM; 
            } 
                // if (this.selectedCapacity.length==1) 
                // {
                //       return this.configuration.configuration_list.filter((a)=>this.selectedType.includes(a.type) ||(a.capacity>=this.selectedCapacity[0].min && a.capacity<=this.selectedCapacity[0].max))
                // }
                // if (this.selectedCapacity.length==2) 
                // {
                //       return this.configuration.configuration_list.filter((a)=>this.selectedType.includes(a.type) ||(a.capacity>=this.selectedCapacity[0].min && a.capacity<=this.selectedCapacity[0].max) ||(a.capacity>=this.selectedCapacity[1].min && a.capacity<=this.selectedCapacity[1].max))
                // }
                // if (this.selectedCapacity.length==3) 
                // {
                //       return this.configuration.configuration_list.filter((a)=>this.selectedType.includes(a.type) ||(a.capacity>=this.selectedCapacity[0].min && a.capacity<=this.selectedCapacity[0].max) ||(a.capacity>=this.selectedCapacity[1].min && a.capacity<=this.selectedCapacity[1].max) ||(a.capacity>=this.selectedCapacity[2].min && a.capacity<=this.selectedCapacity[2].max))
                // }
                // if (this.selectedCapacity.length==4) 
                // {
                //       return this.configuration.configuration_list.filter((a)=>this.selectedType.includes(a.type) ||(a.capacity>=this.selectedCapacity[0].min && a.capacity<=this.selectedCapacity[0].max) ||(a.capacity>=this.selectedCapacity[1].min && a.capacity<=this.selectedCapacity[1].max) ||(a.capacity>=this.selectedCapacity[2].min && a.capacity<=this.selectedCapacity[2].max)||(a.capacity>=this.selectedCapacity[3].min && a.capacity<=this.selectedCapacity[3].max))
                // }
                //  return this.configuration.configuration_list.filter((a)=>this.selectedType.includes(a.type)) 
                
                return []; 
            
        }
    },

    
    methods:{
        
        toggleContent(events, depth){
            events.path[depth].classList.toggle('active');
            //console.log(events);
        },
        setType($event,type){
            if ($event.target.checked==true) {
                this.selectedType.push(type)
            } else {
                var index = this.selectedType.indexOf(type)
                this.selectedType.splice(index,1); 
            }
        },
        setCapacity($event,min,max){
            if ($event.target.checked==true) {
            this.selectedCapacity.push({min:min,max:max});
            }
            else {
                var index = this.selectedCapacity.findIndex(x=>x.min==min)
                this.selectedCapacity.splice(index,1); 
            }
            console.log(this.selectedCapacity)
        },

        go_to_configure_new(atwrt,config_name){
            console.log(config_name)
            let flavour_station_VTLINENO = this.configuration.flavourStation.VTMMAS01.IDOC.E1CUVTM.E1CUV1M.filter((a)=>
            a.ATWRT==atwrt&& a.VTCHARACT=="PROD_SYS").map((b)=>b.VTLINENO);
            console.log('flavour_station_VTLINENO',flavour_station_VTLINENO);

            let coffee_machine_VTLINENO = this.configuration.coffeeMachine.VTMMAS01.IDOC.E1CUVTM.E1CUV1M.filter((a)=>
            a.ATWRT==atwrt&& a.VTCHARACT=="PROD_SYS").map((b)=>b.VTLINENO);
            console.log('coffee_machine_VTLINENO',coffee_machine_VTLINENO);


            let flavour_station_ATWRT = [];
            for (let item of flavour_station_VTLINENO) {
                flavour_station_ATWRT.push(this.configuration.flavourStation.VTMMAS01.IDOC.E1CUVTM.E1CUV1M.filter((a)=>
                a.VTLINENO==item && a.VTCHARACT=="FLAVOR_ST01").map((b)=>b.ATWRT)[0]);
            }
            console.log('flavour_station_ATWRT',flavour_station_ATWRT);

            let coffee_machine_ATWRT = [];
            for (let item of coffee_machine_VTLINENO) {
                coffee_machine_ATWRT.push(this.configuration.coffeeMachine.VTMMAS01.IDOC.E1CUVTM.E1CUV1M.filter((a)=>
                a.VTLINENO==item && a.VTCHARACT=="COFFEE_MC01").map((b)=>b.ATWRT)[0]);
            }
            console.log('coffee_machine_ATWRT',coffee_machine_ATWRT);


            let flavour_station_ATWRT_LONG = [];
            for (let item of flavour_station_ATWRT) {
                flavour_station_ATWRT_LONG.push(this.configuration.FLAVOR_ST01.CHRMAS01.IDOC.E1CABNM.E1CAWNM.filter((a)=>
                a.ATWRT==item).map((b)=>b.E1CAWTM.ATWTB_LONG)[0]);
            }

            let coffee_machine_ATWRT_LONG = [];
            for (let item of coffee_machine_ATWRT) {
                coffee_machine_ATWRT_LONG.push(this.configuration.COFFEE_MC01.CHRMAS01.IDOC.E1CABNM.E1CAWNM.filter((a)=>
                a.ATWRT==item).map((b)=>b)[0]);
            }

            this.$store.dispatch('configuration/PROD_SYS_Filtered_Add', config_name);
            this.$store.dispatch('configuration/FLAVOR_ST01_Filtered_Add', flavour_station_ATWRT_LONG);
            this.$store.dispatch('configuration/COFFEE_MC01_Filtered_Add', coffee_machine_ATWRT_LONG);
            
            router.push('/configuration-machines');
        }
    }
}
</script>
<style>
    .configurations-page-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .configurations-page-container .configuration-list-container {
        width: 76%;
        padding-right: 24px;
    }
    .configurations-page-container .configuration-filter-container {
        width: 24%;
        background: #fdfdfd;
    }
    h3.section-heading {
        font-size: 22px;
        line-height: 1.5;
        color: #000000;
        padding-bottom: 15px;
    }
    .configuration-list-container ul.configuration-tab-list {
        padding-top: 18px;
        padding-left: 0;
        padding-bottom: 35px;
    }
    .configuration-tab-list li {
        list-style-type: none;
        font-size: 16px;
        line-height: 23px;
        display: inline-block;
        color: #878787;
        margin-left: 24px;
        padding-bottom: 4px;
        cursor: pointer;
    }
    .configuration-tab-list li:first-child{
        margin-left: 0;
        color: #000;
        font-weight: 700;
    }
    .configuration-tab-list li.active {
        border-bottom: 2px solid #DC281E;
    }
    .configuration-list {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .configuration-list .configuration-item {
        width: 31.7%;
        border: 1px solid #B6B7B7;
        margin-bottom: 35px;
        height: 325px;
        position: relative;
        margin-right: 2.45%;
    }
    .configuration-item:nth-child(3n+3) {
        margin-right: 0;
    }
    .configuration-item .compare-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 100;
        display: inline-block;
        width: 28px;
        height: 28px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 0.5px solid #C4C4C4;
        text-align: center;
        padding-top: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .configuration-item.active .compare-icon {
        background: #FF0000;
        border: 0.5px solid #FF0000;
    }
    .configuration-item .compare-icon svg path {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .configuration-item.active .compare-icon svg path {
        fill: #fff;
        fill-opacity: 1;
    }
    .configuration-item .configuration-item-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 99;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 0;
        background: #fff;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        padding: 15px 25px 0 20px;
    }
    .configuration-item.active .configuration-item-hover {
        opacity: 1;
        visibility: visible;
    }
    .fade-enter-active, .fade-leave-active {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
    .configuration-item-inner {
        padding: 30px 40px 0 40px;
        font-size: 12px;
        line-height: 18px;
        color: rgba(88, 88, 88, 0.7);
    }
    .configuration-item-normal {
        text-align: center;
    }
    .configuration-item .configuration-image {
        padding-bottom: 10px;
    }
    .configuration-item .configuration-image img {
        max-height: 118px;
        width: auto;
        max-width: 95%;
        margin: 0 auto;
    }
    .configuration-item .config-name {
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: #000000;
    }
    .configuration-item .view-details-toggle {
        display: inline-block;
        position: absolute;
        bottom: 25px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 14px;
        line-height: 1.15;
        text-transform: uppercase;
        color: #3A3B3D;
        cursor: pointer;
    }
    .configuration-item .config-hover-top {
        display: -webkit-flex;
        display: flex;
        padding-bottom: 16px;
    }
    .configuration-item .config-hover-top .config-hover-image {
        width: 67px;
        /* flex-grow: 1; */
    }
    .configuration-item .config-hover-image img {
        padding-right: 10px;
    }
    .configuration-item .hover-short-info {
        margin-bottom: 0;
        line-height: 14px;
    }
    .configuration-item .config-hover-actions {
        position: absolute;
        left: 0;
        bottom: 25px;
        width: 100%;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        -wbkit-justify-content: space-between;
        padding: 0 25px 0 20px;
    }
    .config-hover-actions button {
        padding: 10px 20px;
        font-size: 14px;
        text-transform: uppercase;
    }
    .config-hover-details ul li,
    .config-hover-details p {
        padding-bottom: 4px;
        color: #585858;
    }

    .configuration-filter-container ul.config-filter-list {
        padding-left: 0;
        list-style-type: none;
    }
    ul.config-filter-list li {
        border-bottom: 1px solid #E4E4E4;
        padding: 16px 0;
        position: relative;
    }
    ul.config-filter-list li:first-child {
        border-top: 1px solid #E4E4E4;
    }
    ul.config-filter-list li:after {
        content: "\f107";
        font-family: FontAwesome;
        color: #000;
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 0;
    }
    ul.config-filter-list li.active:after {
        content: '\f106';
    }
    ul.config-filter-list .filter-type-label {
        display: block;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }
    ul.config-filter-list .checkbox-group {
        padding-top: 20px;
        display: none;
    }
    ul.config-filter-list .active .checkbox-group {
        display: block;
    }
    .slide-up-enter-active {
        transition: all .2s ease;
    }
    .slide-up-leave-active {
        transition: all .2s ease-in-out;
    }
    .slide-up-enter, .slide-fade-leave-to {
        transform: translateY(100vh);
        opacity: 0;
    }
    .checkbox-item input {
        display: none;
    }
    .checkbox-item label {
        margin-bottom: 10px;
        cursor: pointer;
        display: block;
    }
    ul.config-filter-list .checkbox-item label span {
        font-size: 16px;
        line-height: 1.5;
        color: #585858;
        position: relative;
        display: block;
        padding: 11px 10px 11px 35px;
        border: 1px solid #E4E4E4;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    ul.config-filter-list .checkbox-item label input:checked + span {
        background: rgba(9, 10, 12, 0.8);
        color: #FFFFFF;
        border: 1px solid rgba(9, 10, 12, 0.8);
    }
    .checkbox-item label span:before {
        content: '';
        border: 1px solid #dedede;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 10px;
        top: 15px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    ul.config-filter-list .checkbox-item label input:checked + span:before {
        background: #fff;
    }
    .checkbox-item label input:checked + span:after {
        content: "\f00c";
        font-family: FontAwesome;
        color: #090A0C;
        font-size: 12px;
        position: absolute;
        top: 15px;
        left: 13px;
    }
    @media screen and (max-width: 1290px) {
        .configuration-list .configuration-item {
            width: 47.5%;
        }
        .configuration-item:nth-child(3n+3) {
            margin-right: 2.5%;
        }
        .configuration-item:nth-child(2n+2) {
            margin-right: 0;
        }
    }
    @media screen and (max-width: 900px) {
        .config-hover-actions button {
            padding: 10px 15px;
        }
    }
    @media screen and (max-width: 840px) {
        .configurations-page-container {
            flex-direction: column-reverse;
        }
        .configurations-page-container .configuration-filter-container {
            width: 100%;
            margin-bottom: 30px;
        }
        .configurations-page-container .configuration-list-container {
            width: 100%;
            padding-right: 0;
        }
    }
    @media screen and (max-width: 640px) {
        .configuration-list .configuration-item {
            width: 100%;
            margin-right: 0 !important;
        }
    }
</style>