<template>
    <Layout>
        <div class="new-config-page-container">
            <div class="new-config-page-header">
                <h3 class="section-heading">Configure your machine</h3>
            </div>
            <div class="configuration-container">
                <div class="configuration-images">
                    <img :src="PIM_Filtered.ProductImage" height="400" alt="">
                    <img :src="Cooling_Image" height="400" alt="">
                </div>
                <div class="product-configure">
                    <h1 class="single-product-title">{{COFFEE_MC_ID}}</h1>
                    <div class="single-product-description" v-html="PIM_Filtered.ProductDescription">
                        <!-- <ul>
                            <li>First shot</li>
                            <li>Second or even third bean grinder</li>
                            <li>Bean hopper: 1 × 2 kg, 2 × 1.2 kg, 2 × 0.6 kg, 1 × 2 kg + 1 × 0.6 kg, 2 × </li>
                            <li>One or two separate powder dosing systems 0,6 kg or 1,2 kg</li>
                            <li>Coffee grounds ejector</li>
                        </ul> -->
                    </div>
                    <div class="add-ons-config">
                        <h2>Addons</h2>
                        <!-- <div class="addons-item">
                            <h3 class="section-heading addons-title">Milk and cleaning system</h3>
                            <div class="addons-box-container">
                                <div class="addons-box three-col-box">
                                    <ul>
                                        <li v-for="(item,index) in COFFEE_MC01_Filtered" :key="item.id">
                                            <label>
                                                <input :checked="index==0" name="COFFEE" @click="filter_cooling_by_coffee_machine(item.ATWRT)" value="item.ATWRT" type="radio"/> 
                                                <span>{{item.E1CAWTM.ATWTB_LONG}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                    <h4>FoamMaster™ (FM):</h4>
                                     <p>Hot and cold milk and milk foam, individually adjustable consistency, 
                                        integrated cleaning system</p> 
                                </div>
                                 <div class="addons-box">
                                    <h4>CleanMaster (CM):</h4>
                                    <p>fully automatic cleaning system with integrated cleaning cartridge and 
                                        integrated cleaning tank. For outstanding hygiene </p>
                                </div> 
                            </div>
                        </div> -->
                        <div class="addons-item">
                            <h3 class="section-heading addons-title">Flavor Station</h3>
                            <div class="addons-box-container">
                                <div class="addons-box">
                                    <ul>
                                        <li v-for="item in FLAVOR_ST01_Filtered" :key="item.id">
                                            <label>
                                                <input name="FLAVOR" type="radio" v-if="item!=='Not available'"/> 
                                                <span>{{item}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                    <!-- <p>Automatic dosing station for up to six flavors.</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="addons-item">
                            <h3 class="section-heading addons-title">Cooling Unit</h3>
                            <div class="addons-box-container">
                                <div class="addons-box">
                                    <ul>
                                        <li v-for="item in COOLINGUNIT_Filtered" :key="item.id">
                                            <label>
                                                <input name="COOLING" type="radio" @click="show_cooling_image(item.E1CAWTM.ATWTB_LONG)"/> 
                                                <span>{{item.E1CAWTM.ATWTB_LONG}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                    <!-- <p>Automatic dosing station for up to six flavors.</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="addons-item">
                            <h3 class="section-heading addons-title">Grinder</h3>
                            <div class="addons-box-container two-col-box">
                                <div class="addons-box">
                                    <h4>One Bean Grinder</h4>
                                    <p>Precision grinder with durable ceramic grinding disks</p>
                                </div>
                                <div class="addons-box">
                                    <h4>Two Bean Grinder</h4>
                                    <p>Precision grinder with with long-lasting ceramic  grinding disks</p>
                                </div>
                            </div>
                        </div>
                        <div class="addons-item">
                            <h3 class="section-heading addons-title">Others</h3>
                            <div class="addons-box-container">
                                <div class="addons-box">
                                    <h4>Cup Warmmer</h4>
                                    <p>Can be used for various payment methods, e.g. coins, cards. 
                                        Ideally suited to public/private vending applications.</p>
                                </div>
                            </div>
                        </div>
                        <div class="addons-item">
                            <h3 class="section-heading addons-title">Payment  </h3>
                            <div class="addons-box-container">
                                <div class="addons-box">
                                    <h4>Flavor Station</h4>
                                    <p>Can be used for various payment methods, e.g. coins, cards. 
                                        Ideally suited to public/private vending applications.</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <template v-slot:config-footer>
            <div class="configure-footer-container">
                <div class="configure-footer-inner">
                    <div class="configure-footer">
                        <div class="config-footer-col config-footer-col-left">
                            <p class="selected-product">Your customized {{COFFEE_MC_ID}}</p>
                            <h6 class="product-price">CHF1200.00</h6>
                        </div>
                        <div class="config-footer-col config-footer-col-right">
                            <button class="red-b-btn" @click="go_to_configuration()">discard</button>
                            <button class="red-btn confirm-btn" @click="go_to_configure_new()">confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </Layout>
</template>
<script>
import ConfigSingle from "@/img/config-single.png"
import Layout from "@/shared/Layout";
import { mapState } from 'vuex';
import router from '@/router';
export default {
    components: {
        Layout
    },
    data(){
        return {
            configSingle: ConfigSingle,
            ATWRT:null,
            Cooling_Image:null
         }
    },
    created(){
        if (this.ATWRT==null) {this.ATWRT=this.configuration.COFFEE_MC01_Filtered[0].ATWRT}
    }
    ,
    computed:{

        ...mapState(['configuration']),

        COFFEE_MC_ID : function (){
            return this.configuration.COFFEE_MC_ID;
        },
        
        PIM_Filtered : function (){
            return this.configuration.PIM_Filtered;
        },

        FLAVOR_ST01_Filtered : function (){
            return this.configuration.FLAVOR_ST01_Filtered;
        },

        COOLINGUNIT_Filtered : function (){

            let cooling_machine_VTLINENO = [];
            cooling_machine_VTLINENO.push(this.configuration.coolingUnit.VTMMAS01.IDOC.E1CUVTM.E1CUV1M.filter((a)=>
            a.ATWRT==this.configuration.COOLINGUNIT_ID && a.VTCHARACT=="COFFEE_MC01").map((b)=>b.VTLINENO)[0]);    
            console.log('cooling_machine_VTLINENO',cooling_machine_VTLINENO);

            let cooling_machine_ATWRT = [];
            for (let item of cooling_machine_VTLINENO) {
                cooling_machine_ATWRT.push(this.configuration.coolingUnit.VTMMAS01.IDOC.E1CUVTM.E1CUV1M.filter((a)=>
                a.VTLINENO==item && a.VTCHARACT=="COOLINGUNIT").map((b)=>b.ATWRT)[0]);
            }
            console.log('cooling_machine_ATWRT',cooling_machine_ATWRT);

            let cooling_machine_ATWRT_LONG = [];
            for (let item of cooling_machine_ATWRT) {
                cooling_machine_ATWRT_LONG.push(this.configuration.COOLINGUNIT.CHRMAS01.IDOC.E1CABNM.E1CAWNM.filter((a)=>
                a.ATWRT==item).map((b)=>b)[0]);
            }
            
            this.$store.dispatch('configuration/COOLINGUNIT_Filtered_Add', cooling_machine_ATWRT_LONG);
            console.log('cooling_machine_ATWRT_LONG',cooling_machine_ATWRT_LONG);
            return this.configuration.COOLINGUNIT_Filtered;
        }
    },

    methods:{

        filter_cooling_by_coffee_machine(ATWRT){
            this.ATWRT=ATWRT;
        },
        show_cooling_image(name){
            console.log('name',name);
            this.Cooling_Image = this.configuration.PIM.filter((a)=>a.ProductName==name).map(m=>m.ProductImage);
        },
        go_to_configure_new(){
            router.push('/device-summery');
        },
        go_to_configuration(){
            router.push('/configurations');
        }

    }
}
</script>
<style>
    .configuration-container {
        margin: 0 auto;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding-top: 60px;
    }
    .configuration-container .configuration-images {
        width: 44.4%;
        text-align: center;
    }
    .configuration-container .product-configure {
        width: 49%;
    }
    .product-configure .single-product-title {
        font-size: 32px;
        line-height: 1.04;
        color: #000;
        padding-bottom: 12px;
    }
    .product-configure .single-product-description {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 25px;
        padding-top: 25px;
        color: #585858;
        font-size: 16px;
        line-height: 1.6;
        position: relative;
    }
    
    .product-configure .single-product-description p,
    .product-configure .single-product-description ul li,
    .product-configure .single-product-description ol li {
        padding-bottom: 7px;
    }
    .product-configure .add-ons-config {
        padding-top: 25px;
    }
    .add-ons-config h2 {
        font-size: 16px;
        line-height: 1.6;
        color: #585858;
        padding-bottom: 15px;
    }
    .add-ons-config .addons-item {
        padding-bottom: 32px;
    } 
    .addons-item .addons-title {
        color: #878787;
        padding-bottom: 16px;
        font-weight: 400;
    }
    .addons-item .addons-box-container {
        
    }
    .addons-item .addons-box-container .addons-box {
        /* width: 100%;
        border: 1px solid #C4C4C4;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 16px;
        padding: 15px 13px 15px 15px; */

        overflow: hidden;
    }
    .addons-item .addons-box ul {
        margin: 0 -12px;
        padding: 0 !important;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .addons-item .addons-box ul li {
        padding: 0 12px;
        width: 100%;
        list-style:none;
        padding-bottom: 24px;
    }
    .addons-item .three-col-box ul li {
        width: 33.33%;
    }
    .addons-item ul li label {
        display: block;
    }
    .addons-item ul li label span {
        display: block;
        border: 1px solid #C4C4C4;
        text-align: center;
        padding: 27px 0;
        cursor: pointer;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 600;
    }
    .addons-item ul li label input:checked + span {
        border: 1px solid #DC281E;
    }
    .addons-item ul li label input {
        display: none;
    }
    .addons-item .addons-box-container.two-col-box .addons-box {
        width: 48%;
    }
    .addons-item  .addons-box h4 {
        font-size: 16px;
        line-height: 1.4;
        padding-bottom: 8px;
        color: #000;
    }
    .addons-item  .addons-box p {
        font-size: 16px;
        line-height: 1.4;
        color: #585858;
    }
</style>