<template>
    <Layout>
        <div class="new-config-page-container">
            <div class="configuration-container configuration-summery-container">
                <div class="configuration-images">
                    <img :src="PIM_Filtered.ProductImage" height="400" alt="">
                </div>
                <div class="product-configure">
                    <h2 class="section-title">Your Device Summery</h2>
                    <div class="summery-content">
                        <h4 class="sub-section-title">Beverage Creations</h4>
                        <div class="summery-table">
                            <div class="summery-table-inner" v-for="item in PIM_Filtered.BeverageCreations" :key="item.id">
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">{{item.attr_key}}</div>
                                    <div class="summery-row-col summery-col-val">{{item.attr_value}}</div>
                                </div>
                            </div>
                        </div>

                        <h4 class="sub-section-title">Capacity</h4>
                        <div class="summery-table">
                            <div class="summery-table-inner" v-for="item in PIM_Filtered.Capacity" :key="item.id">
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">{{item.attr_key}}</div>
                                    <div class="summery-row-col summery-col-val">{{item.attr_value}}</div>
                                </div>
                            </div>
                        </div>

                        <h4 class="sub-section-title">Milk System</h4>
                        <div class="summery-table">
                            <div class="summery-table-inner">
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Foammaster</div>
                                    <div class="summery-row-col summery-col-val">yes</div>
                                </div>
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Second type of fresh milk</div>
                                    <div class="summery-row-col summery-col-val">no</div>
                                </div>
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Auto Steam Pro, Programmable milk foam consistency</div>
                                    <div class="summery-row-col summery-col-val">optional</div>
                                </div>
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Auto Steam, Fully automated milk heating</div>
                                    <div class="summery-row-col summery-col-val">no</div>
                                </div>
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Milk powder</div>
                                    <div class="summery-row-col summery-col-val">yes</div>
                                </div>
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Capacity fresh milk stockage</div>
                                    <div class="summery-row-col summery-col-val">5.00</div>
                                </div>
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Milk (fill level)</div>
                                    <div class="summery-row-col summery-col-val">yes</div>
                                </div>
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Fresh milk temperature adjustable</div>
                                    <div class="summery-row-col summery-col-val">yes</div>
                                </div>
                            </div>
                        </div>

                        <h4 class="sub-section-title">Water Supply</h4>
                        <div class="summery-table">
                            <div class="summery-table-inner">
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Fixed water connection</div>
                                    <div class="summery-row-col summery-col-val">yes</div>
                                </div>
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Water tank (integrated)</div>
                                    <div class="summery-row-col summery-col-val">no</div>
                                </div>
                                <div class="summery-row">
                                    <div class="summery-row-col summery-col-key">Water tank (external)</div>
                                    <div class="summery-row-col summery-col-val">optional</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <template v-slot:config-footer>
            <div class="configure-footer-container">
                <div class="configure-footer-inner">
                    <div class="configure-footer">
                        <div class="config-footer-col config-footer-col-left">
                            <p class="selected-product">Your customized {{COFFEE_MC_ID}}</p>
                            <h6 class="product-price">CHF1200.00</h6>
                        </div>
                        <div class="config-footer-col config-footer-col-right">
                            <button class="red-b-btn" @click="go_to_configuration()">discard</button>
                            <button class="red-btn confirm-btn" @click="go_to_invoice()">confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </Layout>
</template>
<script>
import ConfigSingle from "@/img/config-single.png"
import Layout from "@/shared/Layout";
import router from '@/router';
import { mapState } from 'vuex';
export default {
    components: {
        Layout
    },
    data(){
        return {
            configSingle: ConfigSingle
         }
    },
    created(){
        
    },
    computed:{
        ...mapState(['configuration']),

        
        PIM_Filtered : function (){
            return this.configuration.PIM_Filtered;
        },
        
        COFFEE_MC_ID : function (){
            return this.configuration.COFFEE_MC_ID;
        },
    },

    methods:{
        go_to_invoice(){
            router.push('/invoice');
        }, 
        go_to_configuration(){
            router.push('/configurations');
        }
    }
}
</script>
<style>
    .configuration-container.configuration-summery-container {
        max-width: unset;
    }
    .configuration-container.configuration-summery-container .configuration-images {
        width: 44.4%;
        padding-top: 80px;
    }
    .configuration-container.configuration-summery-container .product-configure {
        width: 49%;
    }
    .summery-content {
        padding-top: 20px;
    }
    .summery-table {
        padding-bottom: 32px;
    }
    .sub-section-title {
        font-size: 16px;
        line-height: 1.6;
        color: #585858;
        padding-bottom: 15px;
    }
    .summery-row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .summery-row .summery-row-col {
        background: #f5f5f5;
        margin-bottom: 4px;
        padding: 6px 8px 3px 8px;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
    }
    .summery-row .summery-col-key {
        width: 65.85%;
        border-right: 4px solid #fff;
    }
    .summery-row .summery-col-val {
        width: 34.15%;
    }
    .configure-footer-container {
        background: #F9F9F9;
        border: 1px solid rgba(33, 33, 33, 0.1);
        -webkit-box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.04);
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.04);
        -webkit-border-radius: 4px 4px 0px 0px;
        border-radius: 4px 4px 0px 0px;
    }
    .configure-footer {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 14px 0 14px 0;
        -webkit-align-items: center;
        align-items: center;
    }
    .configure-footer button {
        padding: 11px 20px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400 !important;
    }
    .configure-footer button.confirm-btn {
        margin-left: 30px;
    }
    .red-b-btn {
        border: 1px solid #DC281E;
        color: #DC281E;
    }
    .configure-footer .selected-product {
        font-size: 16px;
        line-height: 2;
        color: #878787;
        margin-bottom: 0;
    }
    .configure-footer .product-price {
        font-size: 16px;
        line-height: 1.5;
        color: #585858;
        font-weight: 600;
        display: none;
    }
    .configure-footer-inner {
        max-width: 1350px;
        padding: 0 15px;
        margin: 0 auto;
    }
</style>