<template>
    <Layout>
        <div class="new-config-page-container">
            <div class="configuration-container configuration-summery-container">
                <div class="configuration-images">
                    <img :src="PIM_Filtered.ProductImage" height="400" alt="">
                </div>
                <div class="product-configure">
                    <h2 class="section-title">Invoice</h2>
                    <div class="invoice-content">
                        <div class="invoice-section">
                            <div class="invoice-section-row heading-row">
                                <div class="invoice-row-col"><strong>Product</strong></div>
                                <div class="invoice-row-col"><strong>Price</strong></div>
                            </div>
                            <div class="invoice-section-row">
                                <div class="invoice-row-col">1x {{COFFEE_MC_ID}} customized</div>
                                <div class="invoice-row-col">CHF 1200.00</div>
                            </div>
                        </div>

                        <div class="invoice-section">
                            <div class="invoice-section-row heading-row">
                                <div class="invoice-row-col"><strong>Discount</strong></div>
                                <div class="invoice-row-col"><button class="red-b-btn">apply discount codes</button></div>
                            </div>
                            <div class="invoice-section-row">
                                <div class="invoice-row-col">Store discount</div>
                                <div class="invoice-row-col">CHF 400.00</div>
                            </div>
                            <div class="invoice-section-row">
                                <div class="invoice-row-col">Customer discount rate</div>
                                <div class="invoice-row-col">CHF 100.00</div>
                            </div>
                            <div class="invoice-section-row">
                                <div class="invoice-row-col">Promotional discount</div>
                                <div class="invoice-row-col">CHF 50.00</div>
                            </div>
                            <div class="invoice-section-row">
                                <div class="invoice-row-col">Promotional discount</div>
                                <div class="invoice-row-col">CHF 100.00</div>
                            </div>
                        </div>

                        <div class="invoice-section">
                            <div class="invoice-section-row heading-row">
                                <div class="invoice-row-col"><strong>Total Amount</strong></div>
                                <div class="invoice-row-col"><strong>CHF 550.00</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template v-slot:config-footer>
            <div class="configure-footer-container">
                <div class="configure-footer-inner">
                    <div class="configure-footer">
                        <div class="config-footer-col config-footer-col-left">
                            <p class="selected-product">Your customized {{COFFEE_MC_ID}}</p>
                            <h6 class="product-price">CHF 1200.00</h6>
                        </div>
                        <div class="config-footer-col config-footer-col-right">
                            <button class="red-b-btn" @click="go_to_configuration()">discard</button>
                            <button class="red-btn confirm-btn">confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </Layout>
</template>
<script>
import ConfigSingle from "@/img/config-single.png"
import Layout from "@/shared/Layout";
import router from '@/router';
import { mapState } from 'vuex';
export default {
    components: {
        Layout
    },
    data(){
        return {
            configSingle: ConfigSingle
         }
    },
    created(){
        
    },
    computed:{
        ...mapState(['configuration']),

        PIM_Filtered : function (){
            return this.configuration.PIM_Filtered;
        },
        
        COFFEE_MC_ID : function (){
            return this.configuration.COFFEE_MC_ID;
        },
    },

    methods:{
        go_to_configuration(){
            router.push('/configurations');
        }
    }
}
</script>
<style>
    .section-title {
        font-size: 22px;
        line-height: 1.5;
        color: #000;
    }
    .invoice-content {
        padding-top: 32px;
    }
    .invoice-section {
        border-bottom: 1px solid #dcdcdc;
        margin-bottom: 16px;
        padding-bottom: 16px;
    }
    .invoice-section:last-child {
        margin-bottom: none;
        border-bottom: none;
    }
    .invoice-section-row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        padding-bottom: 8px;
    }
    .invoice-section-row.heading-row {
        padding-bottom: 16px;
    }
    .invoice-row-col {
        font-size: 16px;
        line-height: 1.5;
        color: #000;
    }
    .invoice-section-row button {
        padding: 7px 20px;
        text-transform: uppercase;
        font-size: 14px;
    }
</style>