<template>
    <Layout>
        <div class="old-templates-page-container">
            <div class="backlink"><router-link to="configurations">Back</router-link></div>
            <div class="old-config-page-header">
                <h3 class="section-heading">Commonly Used Configurations</h3>
                <div class="config-scratch-btn"><button class="red-btn">Configure from scratch</button></div>
            </div>
        </div>
    </Layout>
</template>
<script>
import Layout from "@/shared/Layout";
export default {
    components: {
        Layout
    },
    data(){
        return {
            
         }
    },
}
</script>
<style>
    .old-config-page-header {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding-bottom: 12px;
        -webkit-align-items: center;
        align-items: center;
    }
    .old-config-page-header h3.section-heading {
        padding-bottom: 0;
    }
    .config-scratch-btn button {
        padding: 11px 20px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    } 
    .backlink a {
        display: inline-block;
        padding-left: 30px;
        position: relative;
        font-size: 14px;
        line-height: 16px;
        color: #585858 !important;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    .backlink a:before {
        content: "\f177";
        font-family: FontAwesome;
        color: #585858;
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>